<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تغییر نام کاربری</title>
    <link rel="stylesheet" type="text/css" href="ChangeUserName.css">
</head>
<body>
    <div class="container">
        <h2>تغییر نام کاربری</h2>
        <p>،کاربر گرامی</p>
        <p>.از طریق لینک زیر به تغییر نام عبور خود اقدام کنید</p>
        <div class="button-container">
            <a href="[RESET_LINK]" class="button">تغییر نام کاربری</a>
        </div>
        <p>،اگر این درخواست توسط شما صورت نگرفته است</p>
        <p>.این ایمیل را نادیده گرفته و از امنیت حساب کاربری خود اطمینان حاصل کنید</p>
        <p>،با تشکر</p>
        <p>رگال</p>
    </div>
</body>
</html>
